.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing {
  display: flex;
  flex-direction: row;
}

.pricing div {
  margin: 5px;
}

.title {
  font-size: 25px;
}

.price {
  font-size: 20px;
}

.online-price {
  font-size: 10px;
}